{% extends 'base.html' %}
{% load static %}

{% block category %}

         {% include 'inc/_sidebar.html' %}


{% endblock %}

{% block index %}

    <h1>{{ category.title }}</h1>
    <div class="header__cont">
        {% for item in content %}
    <div class="header__con">

        <div class="contents">

            <p class="User">user</p>

            <img class="header__img" src="{{ item.photo.url }}" alt="" width="580px" height="315">

                <h2>{{ item.title }}</h2>

            <div class="content__line">

                
                    {{ item.content|safe|linebreaks|truncatewords:20 }}
                


    
            </div>
            <div class="is__published">
            <div class="published">
                {{  item.created_at|date:"SHORT_DATE_FORMAT"  }}
            </div>
        </div>
        </div>
        

        <div class="but">

        
        <a href="{{ item.get_absolute_url }}" class="con__link">
            
            <button class="con__button">
            Перейти
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            
            </button>
        
        </a>

        </div>

        <div class="comment">

            <a class="comment__link" href="#" >

                <button class="comment__button">
                    Комментарии
                    <i class="fa fa-comment" aria-hidden="true"></i>
                </button>

            </a>

        </div>
    </div>
       
    {% endfor %}

    </div>


{% endblock %}



