ul{
padding: 0;
margin: 0;
}
.wrapper{
margin: 0 auto;
}
.footer-28{
padding: 70px 0;
background: #191919;
}
.flex{
display: flex;
justify-content: space-between;
}
.ssh-footer-28-main h6.footer-title-28 {
color: #fff;
font-size: 22px;
line-height: 30px;
margin-bottom: 25px;
font-weight: 500;
}
.ssh-footer-28-main .footer-list-28 ul li,
.ssh-footer-28-main .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
list-style: none;
margin-bottom: 15px;
}
.ssh-footer-28-main .footer-list-28 ul li:last-child {
margin-bottom: 0px;
}
.ssh-footer-28-main .footer-list-28 ul li a,
.ssh-footer-28-main .footer-list-28 ul li {
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #888;
}
.ssh-footer-28-main .footer-list-28 ul li a:hover {
color: #eee; }
.ssh-footer-28-main .footer-list-28 ul.posts a p,
.ssh-footer-28-main .footer-list-28 p {
color: #888;
font-size: 16px;
line-height: 25px;
transition: .3s; }
.ssh-footer-28-main .footer-list-28 ul.posts a p:hover {
color: #eee;
transition: .3s; }
.ssh-footer-28-main .footer-list-28 ul.posts a p span {
display: block;
color: #888;
font-size: 15px; }
.ssh-footer-28-main .ssh-footer-28-main ul.posts a:last-child {
margin-bottom: 0px; }
.ssh-footer-28-main .main-social-footer-28 a {
margin-right: 25px; }
.ssh-footer-28-main .main-social-footer-28 a:last-child {
margin-right: 0; }
.ssh-footer-28-main .copy-footer-28 {
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #8298AB; }
.ssh-footer-28-main ul.list-btm-28 {
margin: 25px 0 15px; }
.ssh-footer-28-main a.tag {
font-size: 15px;
line-height: 25px;
border: 1px solid #888;
padding: 5px 10px;
display: inline-block;
color: #888;
border-radius: 4px;
margin-bottom: 4px;
transition: .5s; }
.ssh-footer-28-main a.tag:hover {
border: 1px solid #eee;
color: #eee; }
.ssh-footer-28-main .list-btm-28 li {
list-style-type: none;
display: inline-block; }
.ssh-footer-28-main h6.footer-title-28.margin-top {
margin-top: 30px; }
.ssh-footer-28-main ul.list-btm-28 li:nth-child(2) {
margin: 0 25px; }
.ssh-footer-28-main ul.posts a {
display: grid;
grid-template-columns: 1fr 3fr;
grid-gap: 15px;
margin-bottom: 10px; }
.ssh-footer-28-main ul.posts a img {
width: 67px;
border-radius: 4px;
border-bottom: 2px solid #888;
background: #333; }
.ssh-footer-28-main .footer-list-28 p span.fa,
.ssh-footer-28-main .footer-list-28 a span.fa,
.ssh-footer-28-main .footer-list-28 ul li span.fa {
width: 20px; }
.ssh-footer-28-main .list-btm-28 li a,
.ssh-footer-28-main .list-btm-28 li select {
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #8298AB; }
.ssh-footer-28-main .list-btm-28 li select {
border: none;
cursor: pointer;
background: transparent; }
.ssh-footer-28-main .midd-footer-28 {
margin-top: 8em; }
.ssh-footer-28-main p.copy-footer-29 {
margin-top: 30px;
padding-top: 30px;
border-top: 2px solid #252525; }
.ssh-footer-28-main .copyright p {
color: #888;
font-size: 16px;
line-height: 25px;
text-align: center;}
.ssh-footer-28-main .copyright p a {
color: #aaa;
transition: .4s;
text-decoration: none; }
.ssh-footer-28-main .copyright p a:hover {
color: #eee; }
.footer-list-28.mobile-footer-full{
width: 350px;
}
.footer-list-28.mobile-footer-half{
width: 211px;
}
@media (min-width: 1200px){
.wrapper{
max-width: 1140px;
}
}