*,
*::after,
*::before
 {

    box-sizing: border-box;
    

}
body {
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;   
    background-image: url(fon.jpg);

}


.header__top {

    height: 100px;

    display: flex;
    justify-content: space-between;
    background-color: rgba(224, 140, 222, 0.56);

    margin-bottom: 30px;

}


 

.container {
    max-width: 2200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    margin-top: auto;
    margin-bottom: auto;

}


.log {

    margin: 10px;


}

a {
    text-decoration: none;
    color: inherit;
}
.search_div {
    background-color: #c409e5;
    border-radius: 15px;
}
.search_button {
    border-radius: 0 15px 15px 0;
    background-color: inherit;
}
.search_input {
    border-radius: 15px 0 0 15px;
     background-color: inherit;
}

.foot_item {
    text-decoration: none;
    color: inherit;
}
.nav_p {


    font-size: x-large;
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;



}



.divider {


    width: 1px;
    background: rgb(208, 33, 33);
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    
}






.foot {
    display: flex;

    padding: 0 40px;
    align-items: center;
    list-style: none;

    margin-top: auto;
    margin-bottom: auto;
}

.foot_2 {
    text-transform: none;
    -webkit-appearance: button;
    height: 30px;
    border-radius: 3px;
    border: none;

    transition: background 250ms;

    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.foot_item:hover {
    background-color: #f7f5f3;
    border-radius: 3px;
	
}

.header__con {
    

    padding: 20px;
    padding-top: 30px;
    width: 100%;
    height: 700px;
    border-radius: 0px 267px;

    -webkit-box-shadow: 4px 4px 24px 2px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 4px 4px 24px 2px rgba(34, 60, 80, 0.19);
    box-shadow: 4px 4px 24px 2px rgba(34, 60, 80, 0.19);

    margin-bottom: 40px;
    background-color: white;
    position: relative;
        

}

.header__con:hover {

    -webkit-box-shadow: 1px 1px 33px -3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 1px 1px 33px -3px rgba(0, 0, 0, 0.34);
    box-shadow: 1px 1px 33px -3px rgba(0, 0, 0, 0.34);



}

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .header__con {
        width: 1600px
    }
}
@media (max-width: 991px) {
    .container {
        width:720px;
    }

}
@media (max-width: 575px) {
    .container {
        width:100%;
        padding:0 15px;
    }

}


.con__button {

    
    width: 127px;
    height: 44px;
    
    color: rgb(255, 255, 255);
    text-align: center;
    

    background: #000000;
    border-radius: 10px;
    
    position: absolute;

    bottom: 10px;
    right: 10px;
       
}
.content__line {
    padding-top: 5px;
    padding-bottom: 20px;

    height: 90px;
    
    
}
.con__link {

    float: right;
    

}
.header__content {
    padding-top: 30px;
    padding: 10px;
    
    
}
.h {

    margin-bottom: 20px;


    
}

.header__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment__button {
    width: 150px;
    height: 44px;
    
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    position: absolute;

    bottom: 10px;
    left: 10px;


    -webkit-box-shadow: 0px 0px 31px -10px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 0px 31px -10px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 0px 31px -10px rgba(34, 60, 80, 0.26);
    font: bold;
}

.header__img {

    border-radius: 10px;
    margin-bottom: 5px;
    
}
.User {
    margin-bottom: 5px;

}
.cat {
    position: absolute;
    top: 0;
}
.is__published {
    
    margin-top: 15px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    color: white;
    background-color: black;
    font-family: monospace;
}
.categ {
    font-weight:bolder
}
.published {
    font-weight:bolder
}
.btn {
    color: white;
    background-color: black;
}
.btn:hover {
    color: white;
    background-color: black;
}



/*  отдельный блог  */
.content__blog {
    background-color: white;
    
}
.content___text {
    font-family: serif;
    margin: 114px;

    font-size: 22px;
}
.content___title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-weight: bold;

    text-align: center;
}

.content___date {
    font-size: 20px;   
}

.comment___button {
    width: 150px;
    height: 44px;
    
    background-color: rgb(255, 255, 255);
    
    border-radius: 10px;
    
    bottom: 10px;
    left: 10px;

    font: bold;
}

.content___title__head {
        margin-top: 20px;
            
}
.clase {
    padding-top: 20px; 
}

.content__blog {
    margin-top: 50PX;
}

.padval {
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont_wi {
    margin: 10px;
    padding: 10px;


}
.obshcon {
    margin: 5px;
    padding-top: 10px;
}
.contact {
    margin: 10px;
    font: bold;
}
.contacts___link {
    color: inherit;
    padding: 5px;
}
.blag {
    padding-bottom: 7px;
}
.fa-instagram {
    color: #ac0b52;
}
.fa-telegram {
    color: #117db3;
}
.fa-whatsapp {
    color: #06b106;
}
.fa-vk {
    color: #2020d6;
}











































ul{
padding: 0;
margin: 0;
}
.wrapper{
    max-width: 1260px;
margin: 0 auto;
}
.footer-28{
padding: 70px 0;
background: #191919;
}
.flex{
display: flex;
justify-content: space-between;

}
.ssh-footer-28-main h6.footer-title-28 {
color: #fff;
font-size: 22px;
line-height: 30px;
margin-bottom: 25px;
font-weight: 500;
}
.ssh-footer-28-main .footer-list-28 ul li,
.ssh-footer-28-main .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
list-style: none;
margin-bottom: 15px;
}

.ssh-footer-28-main .footer-list-28 ul li a,
.ssh-footer-28-main .footer-list-28 ul li {
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #888;
}
.ssh-footer-28-main .footer-list-28 ul li a:hover {
color: #eee; }
.ssh-footer-28-main .footer-list-28 ul.posts a p,
.ssh-footer-28-main .footer-list-28 p {
color: #888;
font-size: 16px;
line-height: 25px;
transition: .3s; }







.ssh-footer-28-main ul.list-btm-28 {
margin: 25px 0 15px; }
.ssh-footer-28-main a.tag {
font-size: 15px;
line-height: 25px;
border: 1px solid #888;
padding: 5px 10px;
display: inline-block;
color: #888;
border-radius: 4px;
margin-bottom: 4px;
transition: .5s;


}
.ssh-footer-28-main a.tag:hover {
border: 1px solid #eee;
color: #eee; }

.ssh-footer-28-main h6.footer-title-28.margin-top {
margin-top: 30px; }
.ssh-footer-28-main ul.list-btm-28 li:nth-child(2) {
margin: 0 25px; }

.ssh-footer-28-main ul.posts a img {
width: 67px;
border-radius: 4px;
border-bottom: 2px solid #888;
background: #333; }
.ssh-footer-28-main .footer-list-28 p span.fa,
.ssh-footer-28-main .footer-list-28 a span.fa,
.ssh-footer-28-main .footer-list-28 ul li span.fa {
width: 20px; }
.ssh-footer-28-main .list-btm-28 li a,
.ssh-footer-28-main .list-btm-28 li select {
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #8298AB; }
.ssh-footer-28-main .list-btm-28 li select {
border: none;
cursor: pointer;
background: transparent; }
.ssh-footer-28-main .midd-footer-28 {
margin-top: 8em; }
.ssh-footer-28-main p.copy-footer-29 {
margin-top: 30px;
padding-top: 30px;
border-top: 2px solid #252525; }
.ssh-footer-28-main .copyright p {
color: #888;
font-size: 16px;
line-height: 25px;
text-align: center;}
.ssh-footer-28-main .copyright p a {
color: #aaa;
transition: .4s;
text-decoration: none; }
.ssh-footer-28-main .copyright p a:hover {
color: #eee; }
.footer-list-28.mobile-footer-full{
width: 350px;
}
.footer-list-28.mobile-footer-half{
width: 211px;
}
@media (max-width: 1260px){
.wrapper{
max-width: 1140px;
}
}