*,
*::after,
*::before
 {

    box-sizing: border-box;

}
body {
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    
}

.header__top {
    height: 130px;
    display: flex;
    justify-content: space-between;

   
}


.container {

    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;


}


a {
    text-decoration: none;
    color: inherit;
}

.nav_p {
    
    
    font-size: x-large;
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(0, 0, 0);
    font-weight: bold;
    

}


.head__block {   
    display: flex;
    justify-content: space-between;
}
.divider {


    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    height: 20px;
    margin-top: 49px;


    
    
}

.foot {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 0 10px;
    

}

.foot_2 {
    text-transform: none;
    -webkit-appearance: button;
    height: 30px;
    border-radius: 3px;
    border: none;
    
    transition: background 250ms;
    
    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.foot_item:hover {
    background-color: #f6efe8;
	
}

