{% extends 'base.html' %}
{% load static %}


{% block index %}

    <div class="content__blog">
        <div class="content__image">
            <img class="img" src="{{ item.photo.url }}" alt="" width="1220" height="550">
        </div>
        <div class="clase">
            <div class="content___title__head">
                <h1 class=" content___title">{{ item.title }}</h1>
            </div>
        </div>

        <div class="content___text">

            {{ item.content|linebreaks }}
        </div>
        <div class="content___date">
            Дата: {{  item.created_at|date:"SHORT_DATE_FORMAT"  }}
        </div>
        <div class="comment">
            <a class="comment___link" href="#" >

                <button class="comment___button">
                    Комментарии
                    <i class="fa fa-comment" aria-hidden="true"></i>
                </button>
            </a>
        </div>
    </div>
{% endblock %}
